{% extends 'core/default.html' %}

{% block content %}
<!-- CardList View -->
<style>
    .cardtype-{{ cardtype.name }} .card {
        width: {{ cardtype.width }}in;
        height: {{ cardtype.height }}in;
        position:relative;
    }
    .inner-card {
        position:relative;
        margin: {{ cardtype.margin }}in;
        width: {{ cardtype.inner_width }}in;
        height: {{ cardtype.inner_height }}in;
    }
</style>
<div class="controls controls-left">
    <div class="alert alert-danger" id="cardtype-alert" style="display:none" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="text">...</span>
    </div>
    <div class="row">
        <div class="input-group">
            <span class="input-group-addon" id="cardtype-name-label">Name</span>
            <input type="text" placeholder="Name" aria-describedby="cardtype-name-label" class="cardtype-name form-control" data-id="{{ cardtype.pk }}" value="{{ cardtype.name }}"/>
            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
        </div>
    </div>
</div>
<div class="card-list cardtype-{{ cardtype.name }}">
    <div class="card">
        <div class="inner-card">
        {% for field in cardtype.field_set.all %}
            {% include 'partials/field-span.html' %}
        {% endfor %}
        </div>
    </div>
</div>
<div class="controls">

    <div class="row">
        <button class="btn btn-success" id="add-field">+ Add field</button>
    </div>

    <hr/>

    <div id="field-edit">
        <p>Select a field to begin editing</p>
    </div>
</div>
{% endblock %}