{% extends 'core/default.html' %}

{% block content %}
<div class="col-md-12">
    <h3>Showing {{ cards|length }} card instances, totalling {{ total_card_count }} cards</h3>
    <div class="card-list cardtype-{{ cardtype.name }}">
        <table class="table">
            <thead>
                <tr>
                    <td>Title</td>
                    <td>Count</td>
                    {% for field in cardtype.field_set.all %}
                        <td>{{ field.name }}</td>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
            {% for card in cards %}
            <tr id="card-{{ card.pk }}" data-name="{{ card.title }}">
                <td>{{ card.title }}</td>
                <td>{{ card.count }}</td>
                {% for field in card.fields %}
                    {% if field.inherited %}
                        <td style="color:#BBB;">Inherited</td>
                    {% else %}
                        <td>{{ field.value }}</td>
                    {% endif %}
                {% endfor %}
                <td></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}