{% extends 'core/default.html' %}

{% block content %}
<!-- CardList View -->
<style>
    .cardtype-{{ cardtype.name }} .card {
        width: {{ cardtype.width }}in;
        height: {{ cardtype.height }}in;
        position:relative;
    }
    .inner-card {
        position:relative;
        margin: {{ cardtype.margin }}in;
        width: {{ cardtype.inner_width }}in;
        height: {{ cardtype.inner_height }}in;
    }
</style>
<div class="card-list cardtype-{{ cardtype.name }}">
    <div class="card">
        <div class="inner-card">
        {% for field in cardtype.field_set.all %}
            <span class="field field-{{ field.name }} selectable-field"
                  style="{{ field.css }}"
                  id="field-{{ field.pk }}">{{ field.name }}</span>
        {% endfor %}
        </div>
    </div>
</div>
<div class="controls">
    <!--
        <button class="btn btn-success" id="add-field">+ Add field</button>
    -->
    <div id="field-edit">
        <p>Select a field to begin editing</p>
    </div>
    <button class="btn btn-primary" id="done-editing">Done</button>
</div>
{% endblock %}