{% extends 'core/default.html' %}

{% block content %}
<div class="col-md-12">
    <h3>Showing {{ cards|length }} card instances, totalling {{ total_card_count }} cards</h3>
    <div class="card-list cardtype-{{ cardtype.name }}">
        <table class="table">
            <thead>
                <tr>
                    <td colspan="2">
                        <button class="btn btn-success" id="add-card" data-card-type="{{ cardtype.pk }}">+ Add card</button>
                    </td>
                    <td colspan="{{ cardtype.cardtypedata_set.all|length }}"></td>
                    <td colspan="{{ cardtype.field_set.all|length }}"></td>
                <tr>
                    <td>Title</td>
                    <td>Count</td>
                    {% for datatype in cardtype.cardtypedata_set.all %}
                        <td class="data-header">{{ datatype.name }}</td>
                    {% endfor %}
                    {% for field in cardtype.editable_fields %}
                        <td class="field-header">{{ field.name }}</td>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
            {% for card in cards %}
                {% include 'partials/card-row.html' %}
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% include 'partials/modal-edit-card.html' %}
{% include 'partials/modal-new-card.html' %}
{% endblock %}