{% extends 'core/default.html' %}

{% block content %}
<!-- CardList View -->
<style>
    .cardtype-{{ card_type.name }} .card {
      width: {{ card_type.width }}in;
      height: {{ card_type.height }}in;
    }
    .inner-card {
        position:relative;
        margin: {{ card_type.margin }}in;
        width: {{ card_type.inner_width }}in;
        height: {{ card_type.inner_height }}in;
    }
    {% for field in card_type.field_set.all %}
    .cardtype-{{ card_type.name }} .card .field-{{ field.name }} {
      {{ field.css|safe }}
    }
    {% endfor %}
</style>
<div class="card-list cardtype-{{ card_type.name }}">
    {% for card in cards %}
        <!-- Card View -->
        <div class="card" id="card-{{ card.pk }}" data-name="{{ card.title }}">
            <div class="inner-card">
            {% for data in card.fields %}
                <span class="field field-{{ data.name }}">{{ data.value }}</span>
            {% empty %}
                no fields
            {% endfor %}
            </div>
            <div class="card-count">&times;{{ card.count }}</div>
        </div>
    {% empty %}
        <h1>You have no cards in this set</h1>
    {% endfor %}
</div>
{% endblock %}