{% extends 'core/default.html' %}

{% block content %}
<!-- CardList View -->
<style>
    .cardtype-{{ card_type.name }} .card {
        width: {{ card_type.width }}in;
        height: {{ card_type.height }}in;
        position:relative;
    }
    .inner-card {
        position:relative;
        margin: {{ card_type.margin }}in;
        width: {{ card_type.inner_width }}in;
        height: {{ card_type.inner_height }}in;
    }
</style>
<div class="controls controls-left">
    <div class="alert alert-danger" id="cardtype-alert" style="display:none" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="text">...</span>
    </div>
    <!--
        Card type name
    -->
    <div class="row">
        <div class="input-group">
            <span class="input-group-addon" id="cardtype-name-label">Name</span>
            <input type="text" placeholder="Name" aria-describedby="cardtype-name-label" class="cardtype-name form-control" data-id="{{ card_type.pk }}" value="{{ card_type.name }}"/>
            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
        </div>
    </div>
    <!--
        Custom data
    -->
    <h4>Custom Data</h4>
    <div class="row">
        <button class="btn btn-success" id="add-data">+ Add data type</button>
    </div>
    <div class="row" id="data-list">
        {% for data in card_type.cardtypedata_set.all %}
            {% include 'partials/data-edit.html' %}
        {% endfor %}
    </div>
</div>
<div class="card-edit-list cardtype-{{ cardtype.name }}">
    <div class="card">
        <div class="inner-card">
        {% for field in card_type.field_set.all %}
            {% include 'partials/field-span.html' %}
        {% endfor %}
        </div>
    </div>
</div>
<div class="controls">

    <div class="row">
        <button class="btn btn-success" id="add-field">+ Add field</button>
    </div>

    <hr/>

    <div class="alert alert-danger" id="field-alert" style="display:none" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="text">...</span>
    </div>

    <div id="field-edit">
        <p>Select a field to begin editing</p>
    </div>
</div>
{% endblock %}