{% extends 'core/default.html' %}

{% block content %}
<div class="col-md-12">
    <h3>Showing {{ cards|length }} card instances, totalling {{ total_card_count }} cards</h3>
    <div class="card-list cardtype-{{ cardtype.name }}">
        <table class="table">
            <thead>
                <tr>
                    <td colspan="2">
                        <button class="btn btn-success" id="add-card" data-card-type="{{ cardtype.pk }}">+ Add card</button>
                    </td>
                    <td colspan="{{ cardtype.cardtypedata_set.all|length }}"></td>
                    <td colspan="{{ cardtype.field_set.all|length }}"></td>
                <tr>
                    <td>Title</td>
                    <td>Count</td>
                    {% for datatype in cardtype.cardtypedata_set.all %}
                        <td class="data-header">{{ datatype.name }}</td>
                    {% endfor %}
                    {% for field in cardtype.editable_fields %}
                        <td class="field-header">{{ field.name }}</td>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
            {% for card in cards %}
            <tr id="card-{{ card.pk }}" data-id="{{ card.pk }}" data-name="{{ card.title }}" class="card-row">
                <td class="title">{{ card.title }}</td>
                <td class="count">{{ card.count }}</td>

                {% for name, value in card.dataset %}
                <td class="data-{{ name }}">{{ value }}</td>
                {% endfor %}

                {% for field in card.editable_fields %}
                    {% if field.value %}
                        <td>{{ field.value }}</td>
                    {% else %}
                        <td style="color:#BBB;">empty</td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="card-edit-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <p>&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="card-save">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade" id="card-new-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">New Card</h4>
      </div>
      <div class="modal-body">
      <div class="container-fluid">
        <div class="alert alert-danger" id="new-carddata-alert" style="display:none" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="text">...</span>
        </div>

        <div class="col-sm-6">
            <input type="text" data-cardTypeId="{{ cardtype.pk }}" id="new-card-name" placeholder="Title" style="font-size:150%;color:#000"/>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" disabled="true" id="card-new">Create New</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}