

BODY {
    background: #223;
}



nav.cardtypes-nav {
    background: #444;
    border: none;
}
nav.cardtypes-nav .navbar-nav>.active>a,
nav.cardtypes-nav .navbar-nav>.active>a:hover,
nav.cardtypes-nav .navbar-nav>.active>a:focus {
    background: #333;
    text-shadow: #000 0px 0px 4px;
    color: #FFF;
}


.controls {
    display: inline-block;
    padding: 0.5in;
    vertical-align: top;
    background: rgba(255,255,255,0.2);
}
.controls p {
    color: #EEE;
    text-shadow: #000 0px 0px 3px;
}
.controls .row {
    margin: 4px;
    text-align: center;
}




.card-list {
    margin: 0.3in;
    display: inline-block;
    vertical-align: top;
}
.card {
    position:relative;
    border-radius:0.08in;
    border: 1px solid #CCC;
    background: #DDD;
    color: #222;
    text-shadow:#FFF 0px 0px 4px;
}
.card .field {
    position:absolute;
    cursor: pointer;
    border: solid 4px transparent;
}

.inner-card {
    position:relative;
    background: #EEE;
}

.field:hover {
    background: rgba(255,255,255,0.2);
}

.field.active {
    border: solid 4px rgba(0, 200, 0, 0.4);
}


#field-edit input {
    padding: 8px;
}

