

BODY {
    background: #223;
    color: #EEE;
    font-weight: 300;
    font-family: 'Open Sans Condensed', sans-serif;

}



/*
TABLE {
    color: #FFF;
    background-color: transparent;
}
TD {
    color: #FFF;
}
TD INPUT {
    color: #000;
    text-align: center;
    width: 64px;
}
THEAD TD {
    font-weight: bold;
}
TBODY TR {
    background-color: rgba(255,255,255,0.1);
}
*/
TBODY TR:hover {
    background: rgba(200,200,200,0.3);
    cursor: pointer;
}
TD.data-header {
    background: rgba(50,50,150,0.3);
}
TD.field-header {
    background: rgba(50,90,150,0.3);
}

LI {
    transition: all 0.3s linear;
}


nav.navbar-default {
    color:#FFF;
    margin:0px;
}
nav.navbar-default a {
    color:#FFF !important;
}
nav.navbar-default a:hover {
    color:#FFF !important;
}

nav.cardtypes-nav {
    border: none;
}
nav.cardtypes-nav .navbar-nav>.active>a,
nav.cardtypes-nav .navbar-nav>.active>a:hover,
nav.cardtypes-nav .navbar-nav>.active>a:focus {
    background: #333;
    text-shadow: #000 0px 0px 4px;
    color: #FFF;
}
nav.card-nav {
    background: rgb(98, 181, 77);
    min-height: 30px;
    /*background: rgb(138, 216, 142);*/
    border: none;
}
nav.card-nav .navbar-nav > li:hover {
    background: rgb(45, 90, 35);
}
nav.card-nav .navbar-nav>.active>a,
nav.card-nav .navbar-nav>.active>a:hover,
nav.card-nav .navbar-nav>.active>a:focus {
    background: rgb(94, 147, 97);
    text-shadow: #000 0px 0px 4px;
    color: #FFF;
}
nav.project-nav {
    background: rgb(22,22,22);
    border:none;
    text-shadow: #000 0px 0px 4px;
}
nav.project-nav .navbar-brand {
    color:#FFF;
    font-weight: bold;
}


.controls {
    display: inline-block;
    padding: 0.5in;
    vertical-align: top;
    background: rgba(255,255,255,0.2);
    width: 340px;
}
.controls p {
    color: #EEE;
    text-shadow: #000 0px 0px 3px;
}
.controls .row {
    margin: 4px;
}




.card-list, .card-edit-list {
    margin: 0.3in;
    display: inline-block;
    vertical-align: top;
}
.card-list .card {
    float: left;
    margin-right: 64px;
    margin-bottom: 48px;
}
.card {
    position:relative;
    border-radius:0.08in;
    border: 1px solid #CCC;
    background: #DDD;
    color: #222;
    text-shadow:#FFF 0px 0px 4px;
    box-shadow: #000 0px 0px 20px;
}
.card .field {
    position:absolute;
    cursor: pointer;
    border: solid 4px transparent;
}
.card-count {
    text-shadow:#333 0px 0px 4px;
    color:#FFF;
    font-weight:bold;
    position:absolute;
    font-size: 48px;
    top:-32px;
    left:95%;
}
.inner-card {
    position:relative;
    background: #EEE;
}

.field:hover {
    border: solid 4px rgba(255, 200, 0, 0.4);
}

.field.active {
    border: solid 4px rgba(0, 200, 0, 0.4);
}


#field-edit input {
    padding: 8px;
    color: #000;
}
.cardtype-name {
    font-size: 120%;
}



.modal-content {
    background: #333;
}