<div class="card-{{ card.title }} container-fluid" id="card-{{ card.pk }}">

    <input type="hidden" value="{{ card.pk }}" id="card-id"/>

    <div class="alert alert-danger" id="carddata-alert" style="display:none" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="text">...</span>
    </div>

    <div class="col-sm-6">
        <input type="text" id="card-name" value="{{ card.title }}" placeholder="Title" style="font-size:150%;color:#000"/>
    </div>

    <div class="col-sm-6">
        <div class="input-group">
            <span class="input-group-addon" id="card-count-label">Count</span>
            <input type="number" placeholder="Count" aria-describedby="card-count-label" id="card-count" value="{{ card.count }}" data-id="{{ field.pk }}" class="form-control"/>
        </div>
    </div>

    <div class="col-sm-12">
        <h3>Card Data</h3>
        {% for name, value in dataset %}
        <div class="input-group">
            <span class="input-group-addon" style="width:128px;" id="data-{{ name }}-label">{{ name }}</span>
            <input type="number" placeholder="Count" aria-describedby="data-{{ name }}-label" value="{{ value }}" data-name="{{ name }}" class="form-control card-data-value"/>
        </div>
        {% endfor %}
    </div>

    <div class="col-sm-12">
        <h3>Fields</h3>
        {% for field in card.editable_fields %}
        <div class="input-group">
            <span class="input-group-addon" style="width:128px;" id="field-entry-{{ field.name }}-label">{{ field.name }}</span>
            <input type="text" aria-describedby="field-entry-{{ field.name }}-label" value="{% if field.value %}{{ field.value }}{% endif %}" data-name="{{ field.name }}" class="form-control card-field-value"/>
        </div>
        {% endfor %}
    </div>
</div>