<div>
    <div class="row">
        <div class="input-group">
            <span class="input-group-addon" id="field-name-label">Name</span>
            <input type="text" class="form-control" placeholder="Name" aria-describedby="field-name-label" value="{{ field.name }}" data-id="{{ field.pk }}" class="field-name"/>
        </div>
    </div>
    <div class="row">
        <p>Drag the field around to move it vertically</p>
    </div>
    <div class="row">
        <div class="btn-group" data-toggle="buttons">
            {% include 'partials/field-alignment.html' with alignment='left' %}
            {% include 'partials/field-alignment.html' with alignment='center' %}
            {% include 'partials/field-alignment.html' with alignment='right' %}
        </div>
    </div>
    <div class="row">
        <button class="btn btn-default" id="field-delete">Delete</button>
    </div>
</div>