<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Card Creator</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="/static/cards/cards.css"/>
</head>
<body>
    <!--
    <div id="card-types-nav">
        <ul class="nav">
            <li><a href="#">Item</a></li>
        </ul>
    </div>
    <div id="card-nav">
        <ul class="nav">
            <li><a href="#">View</a></li>
            <li><a href="#">Layout</a></li>
            <li><a href="#">Data</a></li>
        </ul>
    </div>
    -->
    <nav class="navbar navbar-default cardtypes-nav">
      <div class="container-fluid">
        <div class="navbar-header">
          <ul class="nav navbar-nav">
            {% for type in card_types %}
                <li class="active"><a href="#">{{ type.name }}<span class="sr-only">(current)</span></a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </nav>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <div id="scripts">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="/static/cards/cards.js"></script>
    </div>
</body>
</html>