<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Card Creator</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- General style -->
    <style>
        BODY {
            background: #223;
        }
        .card {
            position:relative;
            border-radius:0.08in;
            border: 1px solid #CCC;
            background: #DDD;
            color: #222;
            text-shadow:#FFF 0px 0px 4px;
        }
        .inner-card {
            position:relative;
            background: #EEE;
        }
        .card .field {
            position:absolute;
        }
    </style>
</head>
<body>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <div id="scripts">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src=""></script>
    </div>
</body>
</html>